:root {
  --primary-color: #00AAA9;
  --primary-color-light: #eab485;
  --primary-color-dark: #146c73;
  --danger-color: #f87171;
  --white-color: #fff;
}

@font-face {
  font-family: 'helveticaNeue-bold';
  src: url(./assets/fonts/helveticaNeue-bold.otf) format('opentype');
}

@font-face {
  font-family: 'GothamRounded-Book';
  src: url(./assets/fonts/GothamRounded-Book.otf) format('opentype');
}


@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url(./assets/fonts/HelveticaNeue-Medium.ttf) format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-primary;
    @apply bg-white;
    @apply text-primary;
    scroll-behavior: smooth;
  }
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}


.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  overflow: hidden;
  transition: color 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  right: -145%;
  bottom: 0;
  width: 140%;
  transform: skew(45deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1), right 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  z-index: 0;
}

.button:hover {
  color: var(--white-color);
}

.button:hover::before {
  right: 0;
}

.button span {
  position: relative;
  z-index: 1;
}

.button-primary {
  background-color: var(--white-color);
  color: var(--primary-color);
  border-color: var(--white-color);
}

.button-primary:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
}

.button.button-primary::before {
  background-color: var(--primary-color);
}

.button-dark {
  background-color: var(--primary-color-dark);
  color: var(--white-color);
  border-color: var(--primary-color-dark);
}

.button-dark:hover {
  color: var(--primary-color-dark);
  background-color: var(--white-color);
  transition: background-color 0.3s ease;
}

.button.button-dark::before {
  background-color: var(--white-color);
}

.button-light {
  background-color: var(--primary-color-light);
  color: var(--white-color);
  border-color: var(--white-color);
}

.button-light:hover {
  color: var(--primary-color-light);
  background-color: var(--white-color);
  transition: background-color 0.3s ease;
}

.button.button-light::before {
  background-color: var(--white-color);
}

.button-ghost {
  background-color: var(--white-color);
  color: var(--primary-color-dark);
  border-color: var(--white-color);
}

.button-ghost:hover {
  color: var(--white-color);
  background-color: var(--primary-color-dark);
  transition: background-color 0.3s ease;
}

.button.button-ghost::before {
  background-color: var(--primary-color-dark);
}

.button-ghost-light {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color);
}

.button-ghost-light:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
  transition: background-color 0.3s ease;
}

.button.button-ghost-light::before {
  background-color: var(--white-color);
}

.button-danger {
  background-color: var(--danger-color);
  color: var(--white-color);
  border-color: var(--danger-color);
}

.button-danger:hover {
  color: var(--danger-color);
  background-color: var(--white-color);
  transition: background-color 0.3s ease;
}

.button.button-danger::before {
  background-color: var(--white-color);
}

.input {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: color 0.3s ease;
}

.input::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: -175%;
  bottom: 0;
  width: 140%;
  transform: skew(45deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1), right 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  z-index: 0;
}

.input span {
  position: relative;
  z-index: 1;
}

.input:has(input:checked)::before {
  right: -134%;
  z-index: 2;
}

.input .checkIcon {
  display: none;
  position: absolute;
  top: 1px;
  right: 1px;
  width: auto;
  height: auto;
  border: none;
  background: transparent;
  color: transparent;
  z-index: 4;
  transition: color 0.3s ease;
}

.input:has(input:checked) .checkIcon {
  display: block;
}


.input-primary span {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 4px solid var(--primary-color);
}

.input-primary:hover span {
  color: var(--primary-color);
  background-color: var(--white-color);
  transition: border 0.3s ease, background-color 0.3s ease;
}


.input-primary input:checked+span {
  color: var(--primary-color);
  background-color: var(--white-color);
  transition: background-color 0.3s ease;
}

.input.input-primary::before {
  background-color: var(--primary-color);
}


.input-primary:has(input:checked) .checkIcon {
  color: var(--white-color);
}


.input-dark span {
  background-color: var(--primary-color-dark);
  color: var(--white-color);
  border: 4px solid var(--primary-color-dark);
}

.input-dark:hover span {
  color: var(--primary-color-dark);
  background-color: var(--white-color);
  transition: border 0.3s ease, background-color 0.3s ease;
}


.input-dark input:checked+span {
  color: var(--primary-color-dark);
  background-color: var(--white-color);
  transition: background-color 0.3s ease;
}

.input.input-dark::before {
  background-color: var(--primary-color-dark);
}


.input-dark:has(input:checked) .checkIcon {
  color: var(--white-color);
}


.input-light span {
  background-color: var(--primary-color-light);
  color: var(--white-color);
  border: 4px solid var(--primary-color-light);
}

.input-light:hover span {
  color: var(--primary-color-light);
  background-color: var(--white-color);
  transition: border 0.3s ease, background-color 0.3s ease;
}


.input-light input:checked+span {
  color: var(--primary-color-light);
  background-color: var(--white-color);
  transition: background-color 0.3s ease;
}

.input.input-light::before {
  background-color: var(--primary-color-light);
}


.input-light:has(input:checked) .checkIcon {
  color: var(--white-color);
}



.loader {
  width: 124px;
  aspect-ratio: 1.154;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  --c: no-repeat linear-gradient(var(--primary-color) 0 0);
  background: var(--c), var(--c), var(--c), var(--c), var(--c);
  background-size: 100% calc(100%/5 + 1px);
  animation: l15 3s infinite;
}

@keyframes l15 {
  0% {
    background-position: 0 calc(-2*100%/4), 0 calc(-2*100%/4), 0 calc(-2*100%/4), 0 calc(-2*100%/4), 0 calc(-2*100%/4)
  }

  20% {
    background-position: 0 calc(4*100%/4), 0 calc(-2*100%/4), 0 calc(-2*100%/4), 0 calc(-2*100%/4), 0 calc(-2*100%/4)
  }

  40% {
    background-position: 0 calc(4*100%/4), 0 calc(3*100%/4), 0 calc(-2*100%/4), 0 calc(-2*100%/4), 0 calc(-2*100%/4)
  }

  60% {
    background-position: 0 calc(4*100%/4), 0 calc(3*100%/4), 0 calc(2*100%/4), 0 calc(-2*100%/4), 0 calc(-2*100%/4)
  }

  80% {
    background-position: 0 calc(4*100%/4), 0 calc(3*100%/4), 0 calc(2*100%/4), 0 calc(1*100%/4), 0 calc(-2*100%/4)
  }

  100% {
    background-position: 0 calc(4*100%/4), 0 calc(3*100%/4), 0 calc(2*100%/4), 0 calc(1*100%/4), 0 calc(0*100%/4)
  }
}


table td {
  padding: 0.3rem 0.5rem;
}




.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-1 [type=checkbox].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-wrapper-1 .substituted+label {
  color: var(--primary-color-light);
}

.checkbox-wrapper-1 [type=checkbox].substituted+label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 1.15em;
  width: 1.15em;
  margin-right: 0.6em;
  color: rgba(0, 0, 0, 0.275);
  border: solid 0.06em;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
  border-radius: 0.2em;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}

.checkbox-wrapper-1 [type=checkbox].substituted:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:enabled+label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
  background-color: #f0f0f0;
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked+label:before {
  background-color: var(--primary-color);
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled+label:active:before {
  background-color: var(--primary-color-dark);
  color: rgba(0, 0, 0, 0.275);
}

.checkbox-wrapper-1 [type=checkbox].substituted:focus+label:before {
  box-shadow: 0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset,
    0 0 0 3.3px rgba(0, 170, 169, 0.55),
    0 0 0 5px rgba(0, 170, 169, 0.3);
}

.checkbox-wrapper-1 [type=checkbox].substituted:focus:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:focus+label:active:before {
  box-shadow: 0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset,
    0 0 0 3.3px rgba(0, 170, 169, 0.55),
    0 0 0 5px rgba(0, 170, 169, 0.3);
}

.checkbox-wrapper-1 [type=checkbox].substituted:disabled+label:before {
  opacity: 0.5;
}

.checkbox-wrapper-1 [type=checkbox].substituted+label {
  -webkit-user-select: none;
  user-select: none;
}



.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: var(--white-color);
  color: var(--primary-color-dark);
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  content: 'Agregar Imagen';
  /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
}

.file-select:hover::before {
  transform: scale(1.05);
  /* Allow the pseudo-element to respond to the hover */
  box-shadow: 0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset,
    0 0 0 3.3px rgba(0, 170, 169, 0.55),
    0 0 0 5px rgba(0, 170, 169, 0.3);
}

.file-select input[type="file"] {
  opacity: 0;
  width: 150px;
  height: 150px;
  display: inline-block;
}


#src-tent-image::before {
  text-align: center;
  content: 'Agregar Imagen \A +';
  white-space: pre-wrap;
  /* Allows the line break */
}

.image-selected {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.delete-image-selected {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--white-color);
}

.image-selected:hover {
  transform: scale(1.05);
  /* Allow the pseudo-element to respond to the hover */
  box-shadow: 0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset,
    0 0 0 3.3px rgba(0, 170, 169, 0.55),
    0 0 0 5px rgba(0, 170, 169, 0.3);
}

.delete-image-selected:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}
